name: Release Validation

on:
  release:
    types: [created]

jobs:
  check-version-specs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - name: Check consistency of version specs
        run: |
          set -euo pipefail
          TAG_NAME=$(jq --raw-output .release.tag_name "$GITHUB_EVENT_PATH")
          PACKAGE_VERSION=$(nix eval --raw .#hydra-check.version)
          [[ "v$PACKAGE_VERSION" == $TAG_NAME* ]] # glob for "-g" git rev suffix
