name: "Test"
on:
  pull_request:
  push:
jobs:

  simple-build:
    env:
      CARGO_TERM_COLOR: always
      TERM: xterm-256color
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15-intel, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
    - run: nix-build

  flakes:
    env:
      CARGO_TERM_COLOR: always
      TERM: xterm-256color
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15-intel, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0 # fetch everything for `git describe`
        filter: 'blob:none' # fetch blobs on demand
    - uses: cachix/install-nix-action@v31
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
    - run: nix eval --raw .#hydra-check.version
    - run: nix build --print-build-logs
    - run: nix flake check
    - run: nix develop -c cargo clippy
    - run: nix develop -c cargo fmt --check --all
    - run: nix develop -c cargo test --all-features -- --color=always --no-capture --ignored # run only ignored tests
