name: "Test"
on:
  pull_request:
  push:
jobs:

  simple-build:
    env:
      CARGO_TERM_COLOR: always
      TERM: xterm-256color
    strategy:
      fail-fast: false
      matrix:
        # macos-13 for x86_64-darwin
        os: [ubuntu-latest, macos-13, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v30
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - run: nix-build

  flakes:
    env:
      CARGO_TERM_COLOR: always
      TERM: xterm-256color
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-13, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # fetch everything for `git describe`
        filter: 'blob:none' # fetch blobs on demand
    - uses: cachix/install-nix-action@v30
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - run: nix eval --raw .#hydra-check.version
    - run: nix build --print-build-logs
    - run: nix flake check
    - run: nix develop -c cargo clippy
    - run: nix develop -c cargo fmt --check --all
    - run: nix develop -c cargo test --all-features -- --color=always --ignored # run only ignored tests
